.post-list-item, .sorting {
    margin-bottom: 1em;
}

.post-listing .post-list-item:nth-child(even) {
    background-color:#fafafa;
}

.body {
    margin: 1em;
    background-color: #fafafa;
    padding:1em;
    font-size: 1.25em;
}